<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hand2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0295 0.06951 0.084793"
        rpy="0 0 0" />
      <mass
        value="0.074661" />
      <inertia
        ixx="4.3676E-05"
        ixy="8.2034E-06"
        ixz="-3.2151E-06"
        iyy="4.4075E-05"
        iyz="-3.5312E-06"
        izz="7.0477E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="thumb1">
    <inertial>
      <origin
        xyz="0.013932 0.0078887 0.014093"
        rpy="0 0 0" />
      <mass
        value="0.018501" />
      <inertia
        ixx="2.3659E-06"
        ixy="-2.5774E-07"
        ixz="4.4006E-07"
        iyy="3.1449E-06"
        iyz="4.5794E-07"
        izz="3.7091E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb1_joint"
    type="revolute">
    <origin
      xyz="0.048861 -0.085319 0.082907"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="thumb1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5707963267948966"
      upper="0"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="thumb2">
    <inertial>
      <origin
        xyz="-8.276E-10 -7.9959E-10 -3.4094E-05"
        rpy="0 0 0" />
      <mass
        value="0.0014317" />
      <inertia
        ixx="3.4719E-08"
        ixy="1.9309E-11"
        ixz="5.9945E-15"
        iyy="3.4714E-08"
        iyz="-2.9865E-15"
        izz="3.7863E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb2_joint"
    type="revolute">
    <origin
      xyz="0.04793 0.011792 0.0034772"
      rpy="-0.62923 0.95066 -1.977593" />
    <parent
      link="thumb1" />
    <child
      link="thumb2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="thumb3">
    <inertial>
      <origin
        xyz="-0.0017268 -0.023425 0.00037486"
        rpy="0 0 0" />
      <mass
        value="0.006776" />
      <inertia
        ixx="7.2715E-07"
        ixy="1.4292E-08"
        ixz="5.5164E-09"
        iyy="2.3221E-07"
        iyz="4.2168E-09"
        izz="7.0752E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb3_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="thumb2" />
    <child
      link="thumb3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="thumb4">
    <inertial>
      <origin
        xyz="0.019018 -0.0011009 9.7741E-05"
        rpy="0 0 0" />
      <mass
        value="0.0091015" />
      <inertia
        ixx="4.6291E-07"
        ixy="-8.3126E-08"
        ixz="-4.9843E-08"
        iyy="9.025E-07"
        iyz="-1.3239E-08"
        izz="6.7835E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/thumb4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb4_hoint"
    type="revolute">
    <origin
      xyz="-0.00057142 -0.036717 -0.00046"
      rpy="0 0 -1.5708" />
    <parent
      link="thumb3" />
    <child
      link="thumb4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="index1">
    <inertial>
      <origin
        xyz="1.0674E-09 7.1185E-09 4.4165E-05"
        rpy="0 0 0" />
      <mass
        value="0.0014418" />
      <inertia
        ixx="3.5899E-08"
        ixy="2.1239E-11"
        ixz="-1.3646E-15"
        iyy="3.589E-08"
        iyz="2.462E-15"
        izz="3.7895E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index1_joint"
    type="revolute">
    <origin
      xyz="0.065353 -0.083414 0.014156"
      rpy="1.5708 0 0.174507" />
    <parent
      link="base_link" />
    <child
      link="index1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="index2">
    <inertial>
      <origin
        xyz="0.00054745 -0.028315 0.00052772"
        rpy="0 0 0" />
      <mass
        value="0.005761" />
      <inertia
        ixx="5.9612E-07"
        ixy="3.5547E-08"
        ixz="4.6621E-09"
        iyy="2.5712E-07"
        iyz="-1.1762E-08"
        izz="6.1312E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index2_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 -1.5708 0" />
    <parent
      link="index1" />
    <child
      link="index2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="index3">
    <inertial>
      <origin
        xyz="0.0011544 -0.013424 -0.00066574"
        rpy="0 0 0" />
      <mass
        value="0.0019692" />
      <inertia
        ixx="1.0263E-07"
        ixy="6.8191E-09"
        ixz="9.1704E-13"
        iyy="5.1594E-08"
        iyz="4.0512E-09"
        izz="1.2761E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index3_joint"
    type="revolute">
    <origin
      xyz="-0.0005 -0.044694 -1.0001E-05"
      rpy="0 0 0" />
    <parent
      link="index2" />
    <child
      link="index3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="index4">
    <inertial>
      <origin
        xyz="-0.0035148 -0.012074 0.00019625"
        rpy="0 0 0" />
      <mass
        value="0.0024924" />
      <inertia
        ixx="1.0917E-07"
        ixy="1.621E-08"
        ixz="8.0039E-10"
        iyy="5.3716E-08"
        iyz="-1.7731E-09"
        izz="9.4705E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/index4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index4_joint"
    type="revolute">
    <origin
      xyz="0.0023837 -0.023881 0"
      rpy="0 0 0" />
    <parent
      link="index3" />
    <child
      link="index4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="middle1">
    <inertial>
      <origin
        xyz="-2.8506E-10 -7.6724E-11 4.417E-05"
        rpy="0 0 0" />
      <mass
        value="0.0014418" />
      <inertia
        ixx="3.5899E-08"
        ixy="2.1236E-11"
        ixz="-1.0129E-15"
        iyy="3.589E-08"
        iyz="3.1958E-17"
        izz="3.7895E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle1_joint"
    type="revolute">
    <origin
      xyz="0.039195 -0.085379 0.0075839"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="middle1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="middle2">
    <inertial>
      <origin
        xyz="-0.00054745 0.028315 0.00052772"
        rpy="0 0 0" />
      <mass
        value="0.005761" />
      <inertia
        ixx="5.9612E-07"
        ixy="3.5547E-08"
        ixz="-4.6621E-09"
        iyy="2.5712E-07"
        iyz="1.1762E-08"
        izz="6.1312E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle2_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="3.1416 1.5708 0" />
    <parent
      link="middle1" />
    <child
      link="middle2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="middle3">
    <inertial>
      <origin
        xyz="0.0011544 -0.013424 -0.00066574"
        rpy="0 0 0" />
      <mass
        value="0.0019692" />
      <inertia
        ixx="1.0263E-07"
        ixy="6.8191E-09"
        ixz="9.1713E-13"
        iyy="5.1594E-08"
        iyz="4.0512E-09"
        izz="1.2761E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle3_joint"
    type="revolute">
    <origin
      xyz="0.0005 0.044694 -1E-05"
      rpy="0 0 -3.1416" />
    <parent
      link="middle2" />
    <child
      link="middle3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="middle4">
    <inertial>
      <origin
        xyz="0.0035148 0.012074 0.00019625"
        rpy="0 0 0" />
      <mass
        value="0.0024924" />
      <inertia
        ixx="1.0917E-07"
        ixy="1.621E-08"
        ixz="-8.0041E-10"
        iyy="5.3715E-08"
        iyz="1.7731E-09"
        izz="9.4705E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/middle4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle4_joint"
    type="revolute">
    <origin
      xyz="0.0023837 -0.023881 0"
      rpy="0 0 -3.1416" />
    <parent
      link="middle3" />
    <child
      link="middle4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="ring1">
    <inertial>
      <origin
        xyz="-2.6316E-10 -8.7228E-11 4.417E-05"
        rpy="0 0 0" />
      <mass
        value="0.0014418" />
      <inertia
        ixx="3.5899E-08"
        ixy="2.1236E-11"
        ixz="-9.9604E-16"
        iyy="3.589E-08"
        iyz="2.0825E-17"
        izz="3.7895E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring1_joint"
    type="revolute">
    <origin
      xyz="0.017195 -0.085379 0.013515"
      rpy="-1.5708 0 3.141593" />
    <parent
      link="base_link" />
    <child
      link="ring1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5707963267948966"
      upper="3.14"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="ring2">
    <inertial>
      <origin
        xyz="0.00054745 -0.028315 0.00052772"
        rpy="0 0 0" />
      <mass
        value="0.005761" />
      <inertia
        ixx="5.9612E-07"
        ixy="3.5547E-08"
        ixz="4.6621E-09"
        iyy="2.5712E-07"
        iyz="-1.1762E-08"
        izz="6.1312E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring2_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="ring1" />
    <child
      link="ring2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="ring3">
    <inertial>
      <origin
        xyz="-0.0011544 0.013424 -0.00066574"
        rpy="0 0 0" />
      <mass
        value="0.0019692" />
      <inertia
        ixx="1.0263E-07"
        ixy="6.8191E-09"
        ixz="-9.1713E-13"
        iyy="5.1594E-08"
        iyz="-4.0512E-09"
        izz="1.2761E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring3_joint"
    type="revolute">
    <origin
      xyz="-0.0005 -0.044694 -1E-05"
      rpy="0 0 3.1416" />
    <parent
      link="ring2" />
    <child
      link="ring3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="ring4">
    <inertial>
      <origin
        xyz="-0.0035148 -0.012074 0.00019625"
        rpy="0 0 0" />
      <mass
        value="0.0024924" />
      <inertia
        ixx="1.0917E-07"
        ixy="1.621E-08"
        ixz="8.0041E-10"
        iyy="5.3715E-08"
        iyz="-1.7731E-09"
        izz="9.4705E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/ring4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring4_joint"
    type="revolute">
    <origin
      xyz="-0.0023837 0.023881 0"
      rpy="0 0 3.1416" />
    <parent
      link="ring3" />
    <child
      link="ring4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="little1">
    <inertial>
      <origin
        xyz="6.4765E-10 7.2276E-09 4.4165E-05"
        rpy="0 0 0" />
      <mass
        value="0.0014418" />
      <inertia
        ixx="3.5899E-08"
        ixy="2.1239E-11"
        ixz="-3.4912E-15"
        iyy="3.589E-08"
        iyz="2.5688E-15"
        izz="3.7895E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little1_joint"
    type="revolute">
    <origin
      xyz="-0.0079628 -0.083414 0.025109"
      rpy="-1.5708 0 2.967063" />
    <parent
      link="base_link" />
    <child
      link="little1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5707963267948966"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="little2">
    <inertial>
      <origin
        xyz="0.00054745 -0.028315 0.00052772"
        rpy="0 0 0" />
      <mass
        value="0.005761" />
      <inertia
        ixx="5.9612E-07"
        ixy="3.5547E-08"
        ixz="4.6621E-09"
        iyy="2.5712E-07"
        iyz="-1.1762E-08"
        izz="6.1312E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little2_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 -1.5708 3.1416" />
    <parent
      link="little1" />
    <child
      link="little2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="little3">
    <inertial>
      <origin
        xyz="0.0011544 -0.013424 -0.00066574"
        rpy="0 0 0" />
      <mass
        value="0.0019692" />
      <inertia
        ixx="1.0263E-07"
        ixy="6.8191E-09"
        ixz="9.1706E-13"
        iyy="5.1594E-08"
        iyz="4.0512E-09"
        izz="1.2761E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little3_joint"
    type="revolute">
    <origin
      xyz="-0.0005 -0.044694 -1E-05"
      rpy="0 0 0" />
    <parent
      link="little2" />
    <child
      link="little3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
  <link
    name="little4">
    <inertial>
      <origin
        xyz="-0.0035148 -0.012074 0.00019625"
        rpy="0 0 0" />
      <mass
        value="0.0024924" />
      <inertia
        ixx="1.0917E-07"
        ixy="1.621E-08"
        ixz="8.0032E-10"
        iyy="5.3715E-08"
        iyz="-1.7732E-09"
        izz="9.4704E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hand2/meshes/little4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="little4_joint"
    type="revolute">
    <origin
      xyz="0.0023837 -0.023881 0"
      rpy="0 0 0" />
    <parent
      link="little3" />
    <child
      link="little4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5707963267948966"
      effort="10"
      velocity="1" />
  </joint>
</robot>